html,
body,
#root,
#root > div {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: 'Smash';
  src: local('Smash'), url(./smash.otf) format('opentype');
}

@font-face {
  font-family: 'Pixel';
  src: local('Pixel'), url(./Pixel.ttf) format('opentype');
}